<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="78f375">  <td>16/07/05 18:31:30</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestRunner.beforeTest()[pri:0, instance:com.bbva.testng.maven.TestRunner@685cb137]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>16/07/05 18:31:30</td>   <td>71</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.test0001()[pri:0, instance:com.bbva.testng.maven.TestRunner@685cb137]">test0001</td> 
  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>16/07/05 18:31:46</td>   <td>16095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.test0002()[pri:0, instance:com.bbva.testng.maven.TestRunner@685cb137]">test0002</td> 
  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>16/07/05 18:32:00</td>   <td>29507</td> <td>&nbsp;</td><td title="&lt;&lt;TestRunner.afterTest()[pri:0, instance:com.bbva.testng.maven.TestRunner@685cb137]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
</table>
